<div class="col-main bg-light py-4 px-5">
  <header class="sg-header">
    <h1 class="display-3 text-primary font-weight-light mb-0">Cards</h1>
  </header>
  <ComponentDemo @title="Card Body" @snippet="body-card.hbs" @src="components.cards.body" />
  <ComponentDemo @title="Titles, Text & Links" @snippet="text-card.hbs" @src="components.cards.text" />
  <ComponentDemo @title="Images" @snippet="images-card.hbs" @src="components.cards.images" />
  <ComponentDemo @title="List Groups" @snippet="kitchen-card.hbs" @src="components.cards.kitchen" />
  <ComponentDemo @title="Card Headers" @snippet="header-card.hbs" @src="components.cards.header" />
  <ComponentDemo @title="Card Navigation" @snippet="navigation-card.hbs" @src="components.cards.navigation" />
  <ComponentDemo @title="Card Background" @snippet="background-card.hbs" @src="components.cards.background" />
  <ComponentDemo @title="Card Border" @snippet="border-card.hbs" @src="components.cards.border" />
</div>