<div class="col-main bg-light py-4 px-5">
  <header class="sg-header">
    <h1 class="display-3 text-primary font-weight-light mb-0">Charts</h1>
  </header>
  <ComponentDemo @title="Bar Chart" @snippet="bar-chart.hbs" @src="components.charts.bar" />
  <ComponentDemo @title="Grouped Bar Chart" @snippet="grouped-bar-chart.hbs" @src="components.charts.grouped-bar" />
  <ComponentDemo @title="Stacked Bar Chart" @snippet="stacked-bar-chart.hbs" @src="components.charts.stacked-bar" />
  <ComponentDemo @title="Horizontal Bar Chart" @snippet="horizontal-bar-chart.hbs" @src="components.charts.horizontal-bar" />
  <ComponentDemo @title="Pie Chart" @snippet="pie-chart.hbs" @src="components.charts.pie" />
  <ComponentDemo @title="Line Chart" @snippet="line-chart.hbs" @src="components.charts.line" />

</div>