<div class="col bg-light min-height-full py-4 px-5">
  <header class="sg-header">
    <h1 class="display-3 text-primary font-weight-light mb-0">Lists</h1>
  </header>
  <ComponentDemo @title="Basic List" @padded={{true}} @snippet="basic-list.hbs" @src="components.lists.standard" />
  <ComponentDemo @title="List with Badges" @padded={{true}} @snippet="badges-list.hbs" @src="components.lists.badges" />
  <ComponentDemo @title="Resource List" @padded={{true}} @snippet="resource-list.hbs" @src="components.lists.resource" />
  <ComponentDemo @title="Avatar List" @padded={{true}} @snippet="avatar-list.hbs" @src="components.lists.avatar" />
</div>