<div class="col-main bg-light py-4 px-5">
  <header class="sg-header">
    <h1 class="display-3 text-primary font-weight-light mb-0">Widgets</h1>
  </header>
  <ComponentDemo @title="Timeline" @snippet="standard-timeline.hbs" @src="components.timeline.standard" />
  <ComponentDemo @title="Timeline (15min blocks)" @snippet="minutes-timeline.hbs" @src="components.timeline.minutes" />
  <ComponentDemo @title="Timeline (days)" @snippet="days-timeline.hbs" @src="components.timeline.days" />
  {{!-- <ComponentDemo @title="Timeline (multiple tracks)" @snippet="multiple-timeline.hbs" @src="components.timeline.multiple" /> --}}
</div>