{{!-- BEGIN-SNIPPET group-form --}}
<form class="p-3">
  <div class="form-group">
    <label for="example-group">Input Label</label>
    <input type="text" class="form-control" id="example-group" placeholder="Placeholder" aria-describedby="example-help">
    <small id="example-help" class="form-text text-muted">Use this help text to explain extra info like validation rules.</small>
  </div>

  <div class="form-group">
    <label for="disabled-group">Disabled Input</label>
    <input type="text" class="form-control" id="disabled-group" value="Disabled Value" aria-describedby="disabled-help" disabled>
    <small id="disabled-help" class="form-text text-muted">This input can not be edited.</small>
  </div>
</form>
{{!-- END-SNIPPET --}}