<div class="p-3">
  {{!-- BEGIN-SNIPPET content-alerts --}}
  <div class="alert alert-warning" role="alert">
    <h4 class="alert-heading font-weight-light">Standard Error Message</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <hr>
    <p class="mb-0"><strong>Refresh the page and check that the URL is correct</strong></p>
  </div>

  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading font-weight-light">Well done!</h4>
    <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
    <hr>
    <p class="mb-0"><strong>Refresh the page and check that the URL is correct</strong></p>
  </div>
  {{!-- END-SNIPPET --}}
</div>