<div class="col-main bg-light py-4 px-5">
  <header class="sg-header">
    <h1 class="display-3 text-primary font-weight-light mb-0">Forms</h1>
  </header>
  <ComponentDemo @title="Form Group" @padded={{false}} @snippet="group-form.hbs" @src="components.forms.group" />
  <ComponentDemo @title="Other Form Controls" @padded={{false}} @snippet="controls-form.hbs" @src="components.forms.controls" />
  <ComponentDemo @title="Checkbox & Radios" @padded={{false}} @snippet="checkbox-radios-form.hbs" @src="components.forms.checkbox-radios" />
  <ComponentDemo @title="Form Validation" @padded={{false}} @snippet="validation-form.hbs" @src="components.forms.validation" />
</div>