<div class="col bg-light min-height-full py-4 px-5">
  <header class="sg-header">
    <h1 class="display-3 text-primary font-weight-light mb-0">Navigation</h1>
  </header>

  <ComponentDemo @title="Horizontal Navigation" @padded={{true}} @snippet="horizontal-navigation.hbs" @src="components.navigation.horizontal" />
  <ComponentDemo @title="Vertical Navigation" @padded={{true}} @snippet="vertical-navigation.hbs" @src="components.navigation.vertical" />
  <ComponentDemo @title="Tab Navigation" @padded={{true}} @snippet="tab-navigation.hbs" @src="components.navigation.tabs" />
  <ComponentDemo @title="Pill Navigation" @padded={{true}} @snippet="pill-navigation.hbs" @src="components.navigation.pills" />
</div>