.demo {
  background   : $grey-20;
  border       : 1px solid $grey-40;
  border-radius: 0.25rem;
  margin-bottom: 32px;
  overflow     : hidden;
  max-width    : 100%;

  &__header {
    border-bottom: 1px solid $grey-40;
    display      : flex;
    padding      : 1rem;
  }

  &__title {
    @extend .h4;
    color      : $dark;
    margin     : 0;
    flex       : 1 1 0;
    font-weight: 300;
  }

  &__preview {
    background: $light;
    display   : flex;
    position  : relative;
  }

  &__handle {
    align-items    : center;
    display        : flex;
    background     : $primary;
    color          : $primary-60;
    // cursor         : pointer;
    justify-content: center;
    width          : 1.5rem;
    position       : absolute;
    right          : -24px;
    height         : 100%;
    // margin-right   : -1.5rem;
    &:hover {
      background: $primary-80;
    }
  }

  &__frame {
    // max-width : 400px;
    // width     : 95%;
    // min-width : 320px;
    min-height: 12rem;
    max-width : 100%;
    width     : 100%;
  }

  &__code {
    max-width: 100%;
    width    : 100%;
  }
}
// Remove default styling of code markup

html {
  pre[class*="language-"] {
    margin       : 0;
    box-shadow   : none;
    border-radius: 0;
    border       : none;
  }
}
// Customise the resizer handle position

.re-sizable > .resizer.right {
  right  : -24px;
  // background: rgba(hotpink,.5);
  z-index: 99;
}