.form-check-stylised {
  position: relative;
  padding : 0.5rem 1rem;

  .form-check-label {
    @extend .rounded;
    background    : $light;
    bottom        : 0;
    cursor        : pointer;
    left          : 0;
    line-height   : 2.5rem;
    padding       : 0 1rem;
    position      : absolute;
    right         : 0;
    text-align    : right;
    top           : 0;
    vertical-align: middle;
    z-index       : 1;
  }

  .form-check-input {
    border  : 1px solid $light;
    position: relative;
    margin  : 0;
    z-index : 2;

    &:disabled + .form-check-label {
      border-color: $danger;
      background  : $danger-20;
      color       : $danger;
      cursor      : not-allowed;
    }

    &:checked + .form-check-label {
      background  : $info;
      border-color: $info;
      color       : $white;
    }
  }
}