$ember-resizable-resizer-size: 24px;
@import "ember-resizable";
/* Colors */
$blue: #004A72;
$indigo: #001772;
$purple: #321850;
$pink: #C50056;
$red: #FF0000;
$orange: #FF6D00;
$yellow: #FAB601;
$green: #9ABA00;
$teal: #8BEAD8;
$cyan: #00ADB1;
$dark: #3C3C3C;
$grey: #878787;
$soft: #C6C6C6;
$light: #F4F4F4;
/* */
$grey-80: #9F9F9F;
$grey-60: #B7B7B7;
$grey-40: #E8E8E8;
$grey-20: #E7E7E7;
/* */
$dark-80: #636363;
$dark-60: #8A8A8A;
$dark-40: #B1B1B1;
$dark-20: #D8D8D8;
/* */
$primary-80: #5A4673;
$primary-60: #847496;
$primary-40: #ADA3B9;
$primary-20: #D6D1DC;
$primary-10: #EBE8EE;
/* */
$primary: $purple;
$secondary: $dark;
$info: $cyan;
$warning: $yellow;
/* */
$theme-colors: (
  "soft"      : $soft,
  "soft-80"   : #D1D1D1,
  "soft-60"   : #DDDDDD,
  "soft-40"   : #E8E8E8,
  "soft-20"   : #F4F4F4,
  "grey"      : $grey,
  "grey-80"   : $grey-80,
  "grey-60"   : $grey-60,
  "grey-40"   : $grey-40,
  "grey-20"   : $grey-20,
  "primary-80": $primary-80,
  "primary-60": $primary-60,
  "primary-40": $primary-40,
  "primary-20": $primary-20,
  "primary-10": $primary-10,
  "dark-80"   : $dark-80,
  "dark-60"   : $dark-60,
  "dark-40"   : $dark-40,
  "dark-20"   : $dark-20,
  "info-80"   : #34BEBC,
  "info-60"   : #65CFCF,
  "info-40"   : #99DFDE,
  "info-20"   : #CCEEEE,
  "warning-80": #F9C532,
  "warning-60": #FBD266,
  "warning-40": #FCE199,
  "warning-20": #FDEFCD,
  "blue"      : $blue,
  "indigo"    : $indigo,
  "purple"    : $purple,
  "pink"      : $pink,
  "red"       : $red,
  "orange"    : $orange,
  "yellow"    : $yellow,
  "green"     : $green,
  "teal"      : $teal,
  "cyan"      : $cyan,
);
/* Typography */
$font-family-sans-serif: "Weissenhof Grotesk", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji';
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
/* --- */
$display1-size: $font-size-base * 4.5;
$display2-size: $font-size-base * 4.125;
$display3-size: $font-size-base * 2.75;
$display4-size: $font-size-base * 1.375;
/* --- */
$display1-weight: 700;
$display2-weight: 400;
$display3-weight: 400;
$display4-weight: 400;
$display-line-height: $font-size-base * 5;
/* --- */
$small-font-size: $font-size-base * 0.875;
/* --- */
$spacer: 1rem;
$spacers: (
  6 : ($spacer * 3.5), // 56
  7 : ($spacer * 4), // 64
  8 : ($spacer * 4.5), // 72
  9 : ($spacer * 5), // 80
  10: ($spacer * 6), // 96
  11: ($spacer * 7), // 112
  12: ($spacer * 8), // 128
  13: ($spacer * 9), // 144
);
/* --- */
@import "ember-bootstrap/bootstrap";

.display-1 {
  letter-spacing: -2px;
}

.display-2 {
  letter-spacing: -2px;
  line-height   : $font-size-base * 4.5;
}

.display-3 {
  letter-spacing: -1.5px;
  line-height   : $font-size-base * 4;
}

.display-4 {
  letter-spacing: -1px;
  line-height   : $font-size-base * 1.5;
}

.info-detail {
  border-left : 4px solid $yellow;
  color       : $text-muted;
  padding-left: 12px;
  max-width   : 340px;
  font-size   : $small-font-size;
}

.btn {
  min-width: 9rem;
}

.btn-sm {
  min-width: 0;
}

.alert-danger {
  background  : $danger;
  border-color: $danger;
  color       : $white;

  .alert-link {
    color: $white;
  }
}

.close {
  font-weight: normal;
}

.form-group {
  max-width: 25rem;
}

.sg-nav {
  .nav-link {
    border-radius: 0.25rem;
    padding-left : 0.5rem;
    padding-right: 0.5rem;
    margin-left  : 0.5rem;
    margin-right : 0.5rem;

    &:focus,
    &:hover {
      background-color: rgba($grey, 0.1);
    }

    &.active {
      background-color: rgba($primary, 0.1);
    }
  }
}

.min-height-full {
  min-height: 100vh;
}

.sg-header {
  padding: 0 0 4rem;
}

.sg-pallet {
  box-shadow     : 0 2px 4px rgba($dark, 0.1);
  color          : $white;
  border-radius  : 3px;
  display        : flex;
  // height         : $spacer*6;
  font-size      : $small-font-size;
  flex-direction : column;
  font-weight    : 300;
  justify-content: space-between;
  line-height    : $spacer;
  margin-bottom  : $spacer*0.5;
  padding        : $spacer*0.5;
  width          : 100%;

  &__title {
    margin-bottom: $spacer*0.5;
  }

  &__text {
    margin-top: $spacer*1.5;
  }
}
//

.demo {
  background   : $grey-20;
  border       : 1px solid $grey-40;
  border-radius: 0.25rem;
  margin-bottom: 32px;
  overflow     : hidden;
  max-width    : 100%;

  &__header {
    border-bottom: 1px solid $grey-40;
    display      : flex;
    padding      : 1rem;
  }

  &__title {
    @extend .h4;
    color      : $dark;
    margin     : 0;
    flex       : 1 1 0;
    font-weight: 300;
  }

  &__preview {
    background: $light;
    display   : flex;
    position  : relative;
  }

  &__handle {
    align-items    : center;
    display        : flex;
    background     : $primary;
    color          : $primary-60;
    // cursor         : pointer;
    justify-content: center;
    width          : 1.5rem;
    position       : absolute;
    right          : 0;
    height         : 100%;
    // margin-right   : -1.5rem;
    &:hover {
      background: $primary-80;
    }
  }

  &__frame {
    // max-width : 400px;
    // width     : 95%;
    // min-width : 320px;
    min-height: 12rem;
    max-width : 100%;
    width     : 100%;
  }

  &__code {
    max-width: 100%;
  }
}

.re-sizable > .resizer.right {
  // right     : 0;
  // background: rgba(hotpink,.5);
  z-index: 99;
}

html {
  pre[class*="language-"] {
    margin       : 0;
    box-shadow   : none;
    border-radius: 0;
    border       : none;
  }
}

.row-layout {
  display       : flex;
  flex-direction: column;
  flex-wrap     : nowrap;
  margin-right  : -15px;
  margin-left   : -15px;
  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
}

.col-sidebar {
  width: 100%;
  @include media-breakpoint-up(md) {
    width     : 320px;
    min-width : 320px;
    min-height: 100vh;
  }
}

.col-main {
  flex     : 1 1 auto;
  max-width: 100%;
  @include media-breakpoint-up(md) {
    min-height: 100vh;
  }
}
// svg {
//   width : 100%;
//   height: auto;
// }