$ember-resizable-resizer-size: 24px;
@import "ember-resizable";
@import "overrides";
/* --- */
@import "ember-bootstrap/bootstrap";
/* --- */
@import "app-structure";
@import "type";
/* --- */
@import "components.alert";
@import "components.buttons";
@import "components.demo";
@import "components.grid";
@import "components.info-detail";
@import "components.styleguide";
@import "components.timeline";
@import "components.toasts";
/* --- */
@import "utilities.background";
@import "utilities.borders";
@import "utilities.overflow";
/* --- */
.close {
  font-weight: normal;
}

.form-group {
  max-width: 25rem;
}

.navbar {
  width: 100%;
}

.navbar-brand {
  font-size     : 1.375rem;
  line-height   : 2.75rem;
  padding       : 0;
  letter-spacing: -0.5px;
}

.cursor-pointer {
  cursor: pointer;
}

.min-height-full {
  min-height: 100vh;
}