{{!-- BEGIN-SNIPPET avatar-list --}}
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">
    <div class="d-flex w-100 align-items-center">
      <img src="https://source.unsplash.com/random/80x80?face" class="rounded-circle mr-3" alt="Responsive image">
      <div class="flex-fill">
        <h5 class="mb-1">Team Name</h5>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small>Donec id elit non mi porta.</small>
      </div>
      <small>Edit</small>
    </div>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 align-items-center">
      <img src="https://source.unsplash.com/random/80x80?face" class="rounded-circle mr-3" alt="Responsive image">
      <div class="flex-fill">
        <h5 class="mb-1">Team Name</h5>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small>Donec id elit non mi porta.</small>
      </div>
      <small>Edit</small>
    </div>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 align-items-center">
      <img src="https://source.unsplash.com/random/80x80?face" class="rounded-circle mr-3" alt="Responsive image">
      <div class="flex-fill">
        <h5 class="mb-1">Team Name</h5>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small>Donec id elit non mi porta.</small>
      </div>
      <small>Edit</small>
    </div>
  </a>
</div>
{{!-- END-SNIPPET --}}