<div class="col bg-light min-height-full py-4 px-5">
  <header class="sg-header">
    <h1 class="display-3 text-primary font-weight-light mb-0">Color Pallet</h1>
  </header>

  <div class="mb-7">
    <div class="row no-gutters">
      <div class="col mr-2">
        <div class="sg-pallet bg-primary">
          <div class="sg-pallet__title">Primary</div>
          <div class="sg-pallet__text">#321850</div>
        </div>

        <div class="sg-pallet bg-primary-80">
          <div class="sg-pallet__text">#5A4673</div>
        </div>

        <div class="sg-pallet bg-primary-60">
          <div class="sg-pallet__text">#847496</div>
        </div>

        <div class="sg-pallet bg-primary-40 text-dark">
          <div class="sg-pallet__text">#ADA3B9</div>
        </div>

        <div class="sg-pallet bg-primary-20">
          <div class="sg-pallet__text">#D6D1DC</div>
        </div>

        <div class="sg-pallet bg-primary-10 text-dark">
          <div class="sg-pallet__text">#EBE8EE</div>
        </div>

      </div>
      <div class="col mr-2">
        <div class="sg-pallet bg-dark">
          <div class="sg-pallet__title">Dark</div>
          <div class="sg-pallet__text">#3C3C3C</div>
        </div>

        <div class="sg-pallet bg-dark-80">
          <div class="sg-pallet__text">#636363</div>
        </div>

        <div class="sg-pallet bg-dark-60">
          <div class="sg-pallet__text">#8A8A8A</div>
        </div>

        <div class="sg-pallet bg-dark-40 text-dark">
          <div class="sg-pallet__text">#B1B1B1</div>
        </div>

        <div class="sg-pallet bg-dark-20 text-dark">
          <div class="sg-pallet__text">#D8D8D8</div>
        </div>
      </div>
      <div class="col mr-2">
        <div class="sg-pallet bg-info">
          <div class="sg-pallet__title">Info</div>
          <div class="sg-pallet__text">#12ADAD</div>
        </div>

        <div class="sg-pallet bg-info-80">
          <div class="sg-pallet__text">#34BEBC</div>
        </div>

        <div class="sg-pallet bg-info-60">
          <div class="sg-pallet__text">#65CFCF</div>
        </div>

        <div class="sg-pallet bg-info-40 text-dark">
          <div class="sg-pallet__text">#99DFDE</div>
        </div>

        <div class="sg-pallet bg-info-20 text-dark">
          <div class="sg-pallet__text">#CCEEEE</div>
        </div>
      </div>
      <div class="col mr-2">
        <div class="sg-pallet bg-warning">
          <div class="sg-pallet__title">Warning</div>
          <div class="sg-pallet__text">#FAB601</div>
        </div>

        <div class="sg-pallet bg-warning-80">
          <div class="sg-pallet__text">#F9C532</div>
        </div>

        <div class="sg-pallet bg-warning-60">
          <div class="sg-pallet__text">#FBD266</div>
        </div>

        <div class="sg-pallet bg-warning-40 text-dark">
          <div class="sg-pallet__text">#FCE199</div>
        </div>

        <div class="sg-pallet bg-warning-20 text-dark">
          <div class="sg-pallet__text">#FDEFCD</div>
        </div>
      </div>
      <div class="col mr-2">
        <div class="sg-pallet bg-grey">
          <div class="sg-pallet__title">Grey</div>
          <div class="sg-pallet__text">#878787</div>
        </div>

        <div class="sg-pallet bg-grey-80">
          <div class="sg-pallet__text">#9F9F9F</div>
        </div>

        <div class="sg-pallet bg-grey-60">
          <div class="sg-pallet__text">#B7B7B7</div>
        </div>

        <div class="sg-pallet bg-grey-40 text-dark">
          <div class="sg-pallet__text">#CFCFCF</div>
        </div>

        <div class="sg-pallet bg-grey-20 text-dark">
          <div class="sg-pallet__text">#E7E7E7</div>
        </div>
      </div>
      <div class="col">
        <div class="sg-pallet bg-soft text-dark">
          <div class="sg-pallet__title">Soft</div>
          <div class="sg-pallet__text">#C6C6C6</div>
        </div>

        <div class="sg-pallet bg-soft-80 text-dark">
          <div class="sg-pallet__text">#D1D1D1</div>
        </div>

        <div class="sg-pallet bg-soft-60 text-dark">
          <div class="sg-pallet__text">#DDDDDD</div>
        </div>

        <div class="sg-pallet bg-soft-40 text-dark">
          <div class="sg-pallet__text">#E8E8E8</div>
        </div>

        <div class="sg-pallet bg-soft-20 text-dark">
          <div class="sg-pallet__text">#F4F4F4</div>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col mr-2">
        <div class="sg-pallet bg-white text-dark">
          <div class="sg-pallet__title">White</div>
          <div class="sg-pallet__text">#FFFFFF</div>
        </div>
      </div>
      <div class="col mr-2">
        <div class="sg-pallet bg-light text-dark">
          <div class="sg-pallet__title">Light</div>
          <div class="sg-pallet__text">#F4F4F4</div>
        </div>
      </div>
      <div class="col">
        <div class="sg-pallet bg-danger">
          <div class="sg-pallet__title">Danger</div>
          <div class="sg-pallet__text">#FF0000</div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="display-4 mb-4">CSS Helper Classes</h2>

  <table class="table mb-7">
    <thead>
      <tr>
        <th>Color</th>
        <th>Text Color</th>
        <th>Background Color</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-primary text-white">
        <td>Primary</td>
        <td><code class="text-white">.text-primary</code></td>
        <td><code class="text-white">.bg-primary</code></td>
      </tr>
      <tr class="bg-info text-white">
        <td>Info</td>
        <td><code class="text-white">.text-info</code></td>
        <td><code class="text-white">.bg-info</code></td>
      </tr>
      <tr class="bg-warning text-white">
        <td>Warning</td>
        <td><code class="text-white">.text-warning</code></td>
        <td><code class="text-white">.bg-warning</code></td>
      </tr>
      <tr class="bg-danger text-white">
        <td>Danger</td>
        <td><code class="text-white">.text-danger</code></td>
        <td><code class="text-white">.bg-danger</code></td>
      </tr>
      <tr class="bg-dark text-white">
        <td>Dark</td>
        <td><code class="text-white">.text-dark</code></td>
        <td><code class="text-white">.bg-dark</code></td>
      </tr>
      <tr class="bg-grey text-white">
        <td>Grey</td>
        <td><code class="text-white">.text-grey</code></td>
        <td><code class="text-white">.bg-grey</code></td>
      </tr>
      <tr class="bg-soft text-dark">
        <td>Soft</td>
        <td><code class="text-dark">.text-soft</code></td>
        <td><code class="text-dark">.bg-soft</code></td>
      </tr>
      <tr class="bg-light text-dark">
        <td>Light</td>
        <td><code class="text-dark">.text-light</code></td>
        <td><code class="text-dark">.bg-light</code></td>
      </tr>
      <tr class="bg-white text-dark">
        <td>dark</td>
        <td><code class="text-dark">.text-dark</code></td>
        <td><code class="text-dark">.bg-dark</code></td>
      </tr>
    </tbody>
  </table>

  <h2 class="display-4 mb-4">General Colors</h2>

  <div class="mb-7">
    <div class="row no-gutters">
      <div class="col mr-2">
        <div class="sg-pallet bg-blue">
          <div class="sg-pallet__title">Blue</div>
          <div class="sg-pallet__text">#004A72</div>
        </div>
      </div>
      <div class="col mr-2">
        <div class="sg-pallet bg-indigo">
          <div class="sg-pallet__title">Indigo</div>
          <div class="sg-pallet__text">#001772</div>
        </div>
      </div>
      <div class="col mr-2">
        <div class="sg-pallet bg-purple">
          <div class="sg-pallet__title">Purple</div>
          <div class="sg-pallet__text">#321850</div>
        </div>
      </div>
      <div class="col mr-2">
        <div class="sg-pallet bg-pink">
          <div class="sg-pallet__title">Pink</div>
          <div class="sg-pallet__text">#C50056</div>
        </div>
      </div>
      <div class="col mr-2">
        <div class="sg-pallet bg-red">
          <div class="sg-pallet__title">Red</div>
          <div class="sg-pallet__text">#FF0000</div>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col mr-2">
        <div class="sg-pallet bg-orange">
          <div class="sg-pallet__title">Orange</div>
          <div class="sg-pallet__text">#FF6D00</div>
        </div>
      </div>
      <div class="col mr-2">
        <div class="sg-pallet bg-yellow">
          <div class="sg-pallet__title">Yellow</div>
          <div class="sg-pallet__text">#FAB601</div>
        </div>
      </div>
      <div class="col mr-2">
        <div class="sg-pallet bg-green">
          <div class="sg-pallet__title">Green</div>
          <div class="sg-pallet__text">#9ABA00</div>
        </div>
      </div>
      <div class="col mr-2">
        <div class="sg-pallet bg-teal text-dark">
          <div class="sg-pallet__title">Teal</div>
          <div class="sg-pallet__text">#12ADAD</div>
        </div>
      </div>
      <div class="col mr-2">
        <div class="sg-pallet bg-cyan">
          <div class="sg-pallet__title">Cyan</div>
          <div class="sg-pallet__text">#00ADB1</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-3 bg-light min-height-full py-4 px-3">
  <aside class="info-detail mt-12 mb-4">
    <h1 class="display-4 text-dark">Color sg-pallet</h1>
    <p>
      Blue and Yellow are used for charts and data.
    </p>
  </aside>
  <aside class="info-detail mb-4">
    <h1 class="display-4 text-dark">Text Colour</h1>
    <p>
      Normally dark grey (#3c3c3c) but on imagery or dark backgrounds also white (#ffffff)
    </p>
  </aside>
  <aside class="info-detail mb-4">
    <h1 class="display-4 text-dark">Active Colour</h1>
    <p>
      Purple is the active color - used for clickable links, icons and buttons. (active #321850, hover #847496)
    </p>
  </aside>
  <aside class="info-detail mb-4">
    <h1 class="display-4 text-dark">New defined colors:</h1>
    <p>
      Purple 10% #EBE8EE use only for module backgrounds. use it sparingly.
    </p>
    <p>
      Red #ff0000 use only for error messages (forms).
    </p>
  </aside>
</div>