<div class="col-main bg-light py-4 px-5">
  <header class="sg-header">
    <h1 class="display-3 text-primary font-weight-light mb-0">Color Pallet</h1>
  </header>

  <div class="mb-7">
    <div class="row no-gutters">
      <div class="col mr-2">

        <ColorSwatch @title="Primary" @color="primary" @hex="#321850" />
        <ColorSwatch @color="primary-80" @hex="#5A4673" />
        <ColorSwatch @color="primary-60" @hex="#847496" />
        <ColorSwatch @color="primary-40" @hex="#ADA3B9" @textClass="text-dark" />
        <ColorSwatch @color="primary-20" @hex="#D6D1DC" @textClass="text-dark" />
        <ColorSwatch @color="primary-10" @hex="#EBE8EE" @textClass="text-dark" />

      </div>
      <div class="col mr-2">

        <ColorSwatch @title="Dark" @color="dark" @hex="#3C3C3C" />
        <ColorSwatch @color="dark-80" @hex="#636363" />
        <ColorSwatch @color="dark-60" @hex="#8A8A8A" />
        <ColorSwatch @color="dark-40" @hex="#B1B1B1" @textClass="text-dark" />
        <ColorSwatch @color="dark-20" @hex="#D8D8D8" @textClass="text-dark" />

      </div>
      <div class="col mr-2">

        <ColorSwatch @title="Info" @color="info" @hex="#12ADAD" />
        <ColorSwatch @color="info-80" @hex="#34BEBC" />
        <ColorSwatch @color="info-60" @hex="#65CFCF" />
        <ColorSwatch @color="info-40" @hex="#99DFDE" @textClass="text-dark" />
        <ColorSwatch @color="info-20" @hex="#CCEEEE" @textClass="text-dark" />

      </div>
      <div class="col mr-2">

        <ColorSwatch @title="Warning" @color="warning" @hex="#FAB601" />
        <ColorSwatch @color="warning-80" @hex="#F9C532" />
        <ColorSwatch @color="warning-60" @hex="#FBD266" />
        <ColorSwatch @color="warning-40" @hex="#FCE199" @textClass="text-dark" />
        <ColorSwatch @color="warning-20" @hex="#FDEFCD" @textClass="text-dark" />

      </div>
      <div class="col mr-2">

        <ColorSwatch @title="Grey" @color="grey" @hex="#878787" />
        <ColorSwatch @color="grey-80" @hex="#9F9F9F" />
        <ColorSwatch @color="grey-60" @hex="#B7B7B7" />
        <ColorSwatch @color="grey-40" @hex="#cfcfcf" @textClass="text-dark" />
        <ColorSwatch @color="grey-20" @hex="#E7E7E7" @textClass="text-dark" />

      </div>
      <div class="col">

        <ColorSwatch @title="Soft" @color="soft" @hex="#C6C6C6" @textClass="text-dark" />
        <ColorSwatch @color="soft-80" @hex="#D1D1D1" @textClass="text-dark" />
        <ColorSwatch @color="soft-60" @hex="#DDDDDD" @textClass="text-dark" />
        <ColorSwatch @color="soft-40" @hex="#E3E3E3" @textClass="text-dark" />
        <ColorSwatch @color="soft-20" @hex="#EEEEEE" @textClass="text-dark" />

      </div>
    </div>
    <div class="row no-gutters">
      <div class="col mr-2">
        <ColorSwatch @title="Soft" @color="white" @hex="#FFFFFF" @textClass="text-dark" />
      </div>
      <div class="col mr-2">
        <ColorSwatch @title="Light" @color="light" @hex="#F4F4F4" @textClass="text-dark" />
      </div>
      <div class="col">
        <ColorSwatch @title="Danger" @color="danger" @hex="#FF0000" />
      </div>
    </div>
  </div>

  <h2 class="display-4 mb-4">CSS Helper Classes</h2>

  <table class="table mb-7">
    <thead>
      <tr>
        <th>Color</th>
        <th>Text Color</th>
        <th>Background Color</th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-primary text-white">
        <td>Primary</td>
        <td>
          <CodeSnippet class="text-white" @copy="text-primary">.text-primary</CodeSnippet>
        </td>
        <td>
          <CodeSnippet class="text-white" @copy="bg-primary">.bg-primary</CodeSnippet>
        </td>
      </tr>
      <tr class="bg-info text-white">
        <td>Info</td>
        <td>
          <CodeSnippet class="text-white" @copy="text-info">.text-info</CodeSnippet>
        </td>
        <td>
          <CodeSnippet class="text-white" @copy="bg-info">.bg-info</CodeSnippet>
        </td>
      </tr>
      <tr class="bg-warning text-white">
        <td>Warning</td>
        <td>
          <CodeSnippet class="text-white" @copy="text-warning">.text-warning</CodeSnippet>
        </td>
        <td>
          <CodeSnippet class="text-white" @copy="bg-warning">.bg-warning</CodeSnippet>
        </td>
      </tr>
      <tr class="bg-danger text-white">
        <td>Danger</td>
        <td>
          <CodeSnippet class="text-white" @copy="text-danger">.text-danger</CodeSnippet>
        </td>
        <td>
          <CodeSnippet class="text-white" @copy="bg-danger">.bg-danger</CodeSnippet>
        </td>
      </tr>
      <tr class="bg-dark text-white">
        <td>Dark</td>
        <td>
          <CodeSnippet class="text-white" @copy="text-dark">.text-dark</CodeSnippet>
        </td>
        <td>
          <CodeSnippet class="text-white" @copy="bg-dark">.bg-dark</CodeSnippet>
        </td>
      </tr>
      <tr class="bg-grey text-white">
        <td>Grey</td>
        <td>
          <CodeSnippet class="text-white" @copy="text-grey">.text-grey</CodeSnippet>
        </td>
        <td>
          <CodeSnippet class="text-white" @copy="bg-grey">.bg-grey</CodeSnippet>
        </td>
      </tr>
      <tr class="bg-soft text-dark">
        <td>Soft</td>
        <td>
          <CodeSnippet class="text-dark" @copy="text-soft">.text-soft</CodeSnippet>
        </td>
        <td>
          <CodeSnippet class="text-dark" @copy="bg-soft">.bg-soft</CodeSnippet>
        </td>
      </tr>
      <tr class="bg-light text-dark">
        <td>Light</td>
        <td>
          <CodeSnippet class="text-dark" @copy="text-light">.text-light</CodeSnippet>
        </td>
        <td>
          <CodeSnippet class="text-dark" @copy="bg-light">.bg-light</CodeSnippet>
        </td>
      </tr>
      <tr class="bg-white text-dark">
        <td>dark</td>
        <td>
          <CodeSnippet class="text-dark" @copy="text-dark">.text-dark</CodeSnippet>
        </td>
        <td>
          <CodeSnippet class="text-dark" @copy="bg-dark">.bg-dark</CodeSnippet>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="display-4 mb-4">General Colors</h2>

  <div class="mb-7">
    <div class="row no-gutters">
      <div class="col mr-2">
        <ColorSwatch @title="Blue" @color="blue" @hex="#004A72" />
      </div>
      <div class="col mr-2">
        <ColorSwatch @title="Indigo" @color="indigo" @hex="#001772" />
      </div>
      <div class="col mr-2">
        <ColorSwatch @title="Purple" @color="purple" @hex="#321850" />
      </div>
      <div class="col mr-2">
        <ColorSwatch @title="Pink" @color="pink" @hex="#C50056" />
      </div>
      <div class="col mr-2">
        <ColorSwatch @title="Red" @color="red" @hex="#FF0000" />
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col mr-2">
        <ColorSwatch @title="Orange" @color="orange" @hex="#FF6D00" />
      </div>
      <div class="col mr-2">
        <ColorSwatch @title="Yellow" @color="yellow" @hex="#FAB601" />
      </div>
      <div class="col mr-2">
        <ColorSwatch @title="Green" @color="green" @hex="#9ABA00" />
      </div>
      <div class="col mr-2">
        <ColorSwatch @title="Teal" @color="teal" @hex="#12ADAD" @textClass="text-dark" />
      </div>
      <div class="col mr-2">
        <ColorSwatch @title="Cyan" @color="cyan" @hex="#12ADAD" />
      </div>
    </div>
  </div>
</div>

<div class="col-sidebar d-none d-lg-block bg-light py-4 px-3">
  <aside class="info-detail mt-12 mb-4">
    <h1 class="display-4 text-dark">Color sg-pallet</h1>
    <p>
      Blue and Yellow are used for charts and data.
    </p>
  </aside>
  <aside class="info-detail mb-4">
    <h1 class="display-4 text-dark">Text Colour</h1>
    <p>
      Normally dark grey (#3c3c3c) but on imagery or dark backgrounds also white (#ffffff)
    </p>
  </aside>
  <aside class="info-detail mb-4">
    <h1 class="display-4 text-dark">Active Colour</h1>
    <p>
      Purple is the active color - used for clickable links, icons and buttons. (active #321850, hover #847496)
    </p>
  </aside>
  <aside class="info-detail mb-4">
    <h1 class="display-4 text-dark">New defined colors:</h1>
    <p>
      Purple 10% #EBE8EE use only for module backgrounds. use it sparingly.
    </p>
    <p>
      Red #ff0000 use only for error messages (forms).
    </p>
  </aside>
</div>