<div class="col-main bg-light py-4 px-5">
  <header class="sg-header">
    <h1 class="display-3 text-primary font-weight-light mb-0">Icons</h1>
  </header>

  <p>All icons are in svg format and can be found in the <code>/public/svg/</code> directory of this repo.</p>

  <table class="table table-hover table-responsive-sm">
    <tr>
      <th>Icon</th>
      <th>Name</th>
    </tr>
    {{#each icons as |icon|}}
      <tr>
        <td>{{svg-jar icon class="w-10 h-10"}}</td>
        <td>{{icon}}</td>
      </tr>
    {{/each}}
  </table>

</div>