<div class="col bg-light min-height-full py-4 px-5">
  <header class="sg-header">
    <h1 class="display-3 text-primary font-weight-light mb-0">Typography</h1>
  </header>
  <h1 class="display-1 text-primary">h1. Hero intros</h1>
  <h2 class="display-2 text-primary">h2. Page titles</h2>
  <h3 class="display-3 text-primary">h3. Section titles</h3>
  <h4 class="display-4 text-dark">h4. Paragraph titles</h4>
  <div class="text-muted">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. aute
      irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    <p>You can use the mark tag to <mark>highlight</mark> text.</p>
    <p><del>This line of text is meant to be treated as deleted text.</del></p>
    <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
    <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
    <p><u>This line of text will render as underlined</u></p>
    <p><small>This line of text is meant to be treated as fine print.</small></p>
    <p><strong>This line rendered as bold text.</strong></p>
    <p><em>This line rendered as italicized text.</em></p>
  </div>
  <aside class="info-detail">
    <h1 class="display-4 text-dark">h4. Paragraph titles</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. aute
      irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
  </aside>
</div>

<div class="col-3 bg-light min-height-full py-4 px-3">
  <aside class="info-detail mt-12">
    <h1 class="display-4 text-dark">Weissenhof Grotesk</h1>
    <p>
      Weissenhof Grotesk is Siemens Gamesa
      Renewable Energy typeface.
      Multiple weights of the typeface can be
      used. For headline purposes use light.
      Body copy and paragraphs of text can be
      set in regular with small titles and hightlights
      set in “bold”.</p>
    <p>
      The typefaces like headlines and copytext
      are matched with device (desktop, tablet
      and mobile).
    </p>
  </aside>
</div>