<div class="p-3">
  {{!-- BEGIN-SNIPPET days-timeline --}}
  <div class="timeline" data-starts="2020-04-06 06:30:00" data-period-length=720 data-total-periods=14 data-period-label-format="dd HH:mm" data-scale="6">
    <div class="timeline__event timeline__event--info" data-starts="2020-04-06 06:30:00" data-ends="2020-04-06 18:10:00">
      Shift 4
    </div>
    <div class="timeline__event timeline__event--primary" data-starts="2020-04-06 18:30:00" data-ends="2020-04-07 06:10:00">
      Shift 1
    </div>

    <div class="timeline__event timeline__event--warning" data-starts="2020-04-07 06:30:00" data-ends="2020-04-07 18:10:00">
      Shift 3
    </div>
    <div class="timeline__event timeline__event--primary" data-starts="2020-04-07 18:30:00" data-ends="2020-04-08 06:10:00">
      Shift 1
    </div>

    <div class="timeline__event timeline__event--warning" data-starts="2020-04-08 06:30:00" data-ends="2020-04-08 18:10:00">
      Shift 3
    </div>
    <div class="timeline__event timeline__event--secondary" data-starts="2020-04-08 18:30:00" data-ends="2020-04-09 06:10:00">
      Shift 2
    </div>

    <div class="timeline__event timeline__event--info" data-starts="2020-04-09 06:30:00" data-ends="2020-04-09 18:30:00">
      Shift 4
    </div>
    <div class="timeline__event timeline__event--secondary" data-starts="2020-04-09 18:30:00" data-ends="2020-04-10 06:10:00">
      Shift 2
    </div>

    <div class="timeline__event timeline__event--info" data-starts="2020-04-10 06:30:00" data-ends="2020-04-10 18:30:00">
      Shift 4
    </div>
    <div class="timeline__event timeline__event--primary" data-starts="2020-04-10 18:30:00" data-ends="2020-04-11 06:10:00">
      Shift 1
    </div>

    <div class="timeline__event timeline__event--warning" data-starts="2020-04-11 06:30:00" data-ends="2020-04-11 18:10:00">
      Shift 3
    </div>
    <div class="timeline__event timeline__event--primary" data-starts="2020-04-11 18:30:00" data-ends="2020-04-12 06:10:00">
      Shift 1
    </div>

    <div class="timeline__event timeline__event--warning" data-starts="2020-04-12 06:30:00" data-ends="2020-04-12 18:10:00">
      Shift 3
    </div>
    <div class="timeline__event timeline__event--primary" data-starts="2020-04-12 18:30:00" data-ends="2020-04-13 06:10:00">
      Shift 1
    </div>
  </div>
  {{!-- END-SNIPPET --}}
</div>