<div class="p-3">
  {{!-- BEGIN-SNIPPET minutes-timeline --}}

  <div class="timeline" data-starts="2020-04-01 09:00:00" data-period-length=30 data-total-periods=14 data-period-label-format="hh:mm">
    <div class="timeline__event timeline__event--primary" data-starts="2020-04-01 09:00:00" data-ends="2020-04-01 10:00:00">
      Geography
    </div>

    <div class="timeline__event timeline__event--info" data-starts="2020-04-01 10:30:00" data-ends="2020-04-01 12:30:00">
      Maths
    </div>

    <div class="timeline__event timeline__event--warning" data-starts="2020-04-01 13:30:00" data-ends="2020-04-01 14:30:00">
      Science
    </div>

    <div class="timeline__event timeline__event--secondary" data-starts="2020-04-01 14:30:00" data-ends="2020-04-01 15:30:00">
      PE
    </div>
  </div>
  {{!-- END-SNIPPET --}}
</div>