<div class="p-3">
  {{!-- BEGIN-SNIPPET days-timeline --}}
  <div class="timeline timeline--multiple" data-starts="2020-04-05 18:30:00" data-period-length=360 data-total-periods=28 data-period-label-format="HH:mm">
    <div class="timeline__track">
      <div class="timeline__event timeline__event--primary" data-starts="2020-04-05 18:30:00" data-ends="2020-04-06 06:30:00">
        Shift 1
      </div>
      <div class="timeline__event timeline__event--info" data-starts="2020-04-06 06:30:00" data-ends="2020-04-06 18:30:00">
        Shift 4
      </div>
      <div class="timeline__event timeline__event--primary" data-starts="2020-06-05 18:30:00" data-ends="2020-04-07 06:30:00">
        Shift 1
      </div>
      <div class="timeline__event timeline__event--info" data-starts="2020-04-07 06:30:00" data-ends="2020-04-07 18:30:00">
        Shift 4
      </div>
      <div class="timeline__event timeline__event--primary" data-starts="2020-04-07 18:30:00" data-ends="2020-04-08 06:30:00">
        Shift 1
      </div>
      <div class="timeline__event timeline__event--info" data-starts="2020-04-08 06:30:00" data-ends="2020-04-08 18:30:00">
        Shift 4
      </div>
      <div class="timeline__event timeline__event--primary" data-starts="2020-04-08 18:30:00" data-ends="2020-04-09 06:30:00">
        Shift 1
      </div>
    </div>
    <div class="timeline__track">
      <div class="timeline__event timeline__event--info" data-starts="2020-04-09 06:30:00" data-ends="2020-04-09 18:30:00">
        Shift 4
      </div>
      <div class="timeline__event timeline__event--primary" data-starts="2020-04-09 18:30:00" data-ends="2020-04-10 06:30:00">
        Shift 1
      </div>
      <div class="timeline__event timeline__event--info" data-starts="2020-04-10 06:30:00" data-ends="2020-04-10 18:30:00">
        Shift 4
      </div>
      <div class="timeline__event timeline__event--primary" data-starts="2020-04-10 18:30:00" data-ends="2020-04-11 06:30:00">
        Shift 1
      </div>
      <div class="timeline__event timeline__event--info" data-starts="2020-04-11 06:30:00" data-ends="2020-04-11 18:30:00">
        Shift 4
      </div>
      <div class="timeline__event timeline__event--primary" data-starts="2020-04-11 18:30:00" data-ends="2020-04-12 06:30:00">
        Shift 1
      </div>
      <div class="timeline__event timeline__event--info" data-starts="2020-04-12 06:30:00" data-ends="2020-04-12 18:30:00">
        Shift 4
      </div>
    </div>

    {{!-- <div class="timeline__event timeline__event--info" data-starts="2020-04-01 05:00:00" data-ends="2020-04-01 08:00:00">
      5am - 8am
    </div>

    <div class="timeline__event timeline__event--warning" data-starts="2020-04-01 08:00:00" data-ends="2020-04-01 16:00:00">
      8am - 4pm
    </div>

    <div class="timeline__event timeline__event--secondary" data-starts="2020-04-01 16:30:00" data-ends="2020-04-02 00:00:00">
      4:30pm - 0am
    </div> --}}
  </div>
  {{!-- END-SNIPPET --}}
</div>