<div class="p-3">
  {{!-- BEGIN-SNIPPET standard-timeline --}}
  <div class="timeline" data-starts="2020-04-01 00:00:00" data-period-length=60 data-total-periods=24 data-period-label-format="ha">
    <div class="timeline__event timeline__event--primary" data-starts="2020-04-01 00:00:00" data-ends="2020-04-01 04:00:00">
      0am - 4am
    </div>

    <div class="timeline__event timeline__event--info" data-starts="2020-04-01 05:00:00" data-ends="2020-04-01 08:00:00">
      5am - 8am
    </div>

    <div class="timeline__event timeline__event--warning" data-starts="2020-04-01 08:00:00" data-ends="2020-04-01 16:00:00">
      8am - 4pm
    </div>

    <div class="timeline__event timeline__event--secondary" data-starts="2020-04-01 16:30:00" data-ends="2020-04-02 00:00:00">
      4:30pm - 0am
    </div>
  </div>
  {{!-- END-SNIPPET --}}
</div>