<div class="col-main bg-light py-4 px-5">
  <header class="sg-header">
    <h1 class="display-3 text-primary font-weight-light mb-0">Alerts</h1>
  </header>
  <ComponentDemo @title="Standard Alerts" @padded={{true}} @snippet="standard-alerts.hbs" @src="components.alerts.standard" />
  <ComponentDemo @title="Linked Alerts" @padded={{true}} @snippet="link-alerts.hbs" @src="components.alerts.link" />
  <ComponentDemo @title="Close Alerts" @padded={{true}} @snippet="close-alerts.hbs" @src="components.alerts.close" />
</div>