{{!-- BEGIN-SNIPPET login-layout- --}}
<div class="app-container bg-white bg-sm-info-20">

  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">

    {{svg-jar "logo" class="mr-3" style="max-width:50%"}}

    <div class="navbar-brand text-primary-80 d-none d-sm-block">
      App Name
    </div>

  </nav>

  <div class="app-body justify-content-start justify-content-sm-center">

    <div class="container">
      <div class="row bg-primary rounded-sm-lg my-sm-3 overflow-hidden">
        <div class="col-sm pb-14 p-4 p-md-6" style="background: url(images/illustration.login.png) bottom right no-repeat; background-size:contain;">
          <h1 class="display-4 display-sm-3 text-info font-weight-bold">Let’s get<br> you logged in.</h1>
        </div>
        <div class="col-sm bg-white p-4 p-md-6">
          <form class=" d-flex flex-column align-items-center w-100">

            <div class="form-group w-100">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" placeholder="Enter email">
            </div>

            <div class="form-group w-100">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter password">
            </div>

            <label class="form-group w-100">
              <input type="checkbox" aria-label="Remember me" class="mr-2"> Remember me
            </label>

            <button type="button" class="btn btn-primary mb-2 w-100">Sign In</button>
            <a href="#" class="btn btn-link w-100">Forgot Password</a>

          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-sm pt-3">
          <p class="text-center text-primary">2020 - Siemens Gamesa</p>
        </div>
      </div>
    </div>
  </div>

</div>
{{!-- END-SNIPPET --}}