<div class="col-main bg-light py-4 px-5">
  <header class="sg-header">
    <h1 class="display-3 text-primary font-weight-light mb-0">Layouts</h1>
  </header>
  <ComponentDemo @title="Login Page" @snippet="login-layout.hbs" @src="components.layouts.login" />
  <ComponentDemo @title="Update Preferences" @snippet="preferences-layout.hbs" @src="components.layouts.preferences" />
  <ComponentDemo @title="Crane Booking" @snippet="booking-layout.hbs" @src="components.layouts.booking" />
  <ComponentDemo @title="Dashboard" @snippet="dashboard-layout.hbs" @src="components.layouts.dashboard" />
</div>