{{!-- BEGIN-SNIPPET pill-navigation --}}
<nav class="nav nav-pills" role="navigation">
  <a class="nav-link active" href="#">Active</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
</nav>
{{!-- END-SNIPPET --}}