{{!-- BEGIN-SNIPPET action-button --}}
<button type="button" class="btn btn-info">Press Me</button>
{{!-- END-SNIPPET --}}
<p class="mt-3">These buttons should be used instead of the standard action when the action performed will create a new resource or start an action.</p>