<div class="p-3">{{!-- BEGIN-SNIPPET loading-button --}}
  <button type="button" disabled class="btn btn-primary">
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span class="sr-only">Loading...</span>
  </button>
  {{!-- END-SNIPPET --}}
  <p class="mt-3">
    When a button is performing an action it should be disable and display a loading state.
  </p>
</div>