<div class="p-3">
  {{!-- BEGIN-SNIPPET body-card- --}}
  <div class="card">
    <div class="card-body">
      This is some text within a card body.
    </div>
  </div>
  {{!-- END-SNIPPET --}}
</div>