<div class="p-3">
  {{!-- BEGIN-SNIPPET images-card- --}}
  <div class="card">
    <img src="https://source.unsplash.com/random/600x300" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  {{!-- END-SNIPPET --}}
</div>