<div class="p-3">
  {{!-- BEGIN-SNIPPET horizontal-bar-chart --}}
  <canvas id="bar-chart" width="600" height="300"></canvas>
  <script>
    const ctx = document.getElementById('bar-chart'),
      data = {
        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun"],
        datasets: [{
            label: "Seg 2 Sickness",
            backgroundColor: "#12ADAD",
            borderWidth: 0,
            data: [2478, 5267, 3529, 2439, 4335, 3002]
          },
          {
            label: "Seg 3 Sickness",
            backgroundColor: "#FAB601",
            borderWidth: 0,
            data: [2834, 5957, 3109, 2094, 4599, 4527]
          }
        ]
      },
      options = {
        title: {
          display: true,
          text: 'Hours lost to sickness per month'
        },
        scales: {
          xAxes: [{
            ticks: {
              beginAtZero: true,
            },
            gridLines: {
              drawOnChartArea: false
            },
          }],
          yAxes: [{
            gridLines: {
              drawOnChartArea: false
            },
            barPercentage: 1.0, // removes spacing between grouped bars
          }]
        }

      };

    let myBarChart = new Chart(ctx, {
      type: 'horizontalBar',
      data,
      options
    });
  </script>
  {{!-- END-SNIPPET --}}
</div>