<div class="p-3">
  {{!-- BEGIN-SNIPPET ring-chart --}}
  <canvas id="ring-chart" width="600" height="300"></canvas>
  <script>
    const ctx = document.getElementById('ring-chart'),
      data = {
        datasets: [{
          label: "Warehouse Deliveries",
          backgroundColor: ["#12ADAD", "#CCEEEE"],
          borderWidth: 0,
          data: [60, 30]
        }]
      },
      options = {
        title: {
          display: true,
          text: 'Holiday Balance'
        },
        cutoutPercentage: 90,
        elements: {
          center: {
            text: '60%',
            color: '#12ADAD', // Default is #000000
            fontStyle: 'Weissenhof Grotesk', // Default is Arial
            sidePadding: 50 // Defualt is 20 (as a percentage)
          }
        }
      };

    let myringChart = new Chart(ctx, {
      type: 'doughnut',
      data,
      options
    });
  </script>
  {{!-- END-SNIPPET --}}
</div>